/* contenitore */
p {margin: 0;}
#app {
    display: flex;
    margin-top: 5vh;
}
.finestra {
    background-color: bisque;
    height: 80vh;

}
#mainRow {
    height: 100%;

}
/* header app */
#headRow > div {
    background-color: gainsboro;
    height: 4rem;
    border: 1px solid lightgrey;
}
/* sezione chat */
#side {
    background-color: aquamarine;
    height: 100%;
}
.contact {
    height: 6rem;
    background-color: azure;
    border: 1px solid black;
}

/* main section */
#main {
    background-color: lightpink;
    height: 100%;
    padding: 4rem 6rem;

}
.mexRecived {
    background-color: gainsboro;

}
.mexSent {
    background-color: greenyellow;
    align-self: end;
}
.mex {
    height: 3.5rem;
    width: 18rem;
}
