:root{
    --silentHeight: 5rem;
    --headerHeight:5rem;
    --appHeight:90vh;
}

/* contenitore */
p {margin: 0;}
body {
    height: 95vh;
    background: rgb(218,219,213);
    background: linear-gradient(0deg, rgba(218,219,213,1) 80%, rgba(34,193,195,1) 80%);
}
#app {
    display: flex;
    margin-top: 5vh;
}
.finestra {
    height: var(--appHeight);
}
#mainRow {
    height: calc(100% - var(--headerHeight));
}
/* header app */
#headRow > div {
    background-color: #eaeaea;
    height: var(--headerHeight);
    border: 0.5px solid lightgrey;
}
.headerIcon > a {color: #b1b1b1;}
.selectedContact {
    height: 100%;
}

/* sezione chat contatti */
#side {
    background-color: #ffffff;
    height: 100%;
    padding: 0;
}
#silentNotif {
    background-color: #8edafc;
    padding: 1rem;
    height: var(--silentHeight);

}
.fa-bell-slash {
    font-size: 1.5rem;
    color: #8edafc;
}
#silentIcon {
    background-color: white;
    aspect-ratio: 1;
    height: 3rem;
}
/* SEARCHBAR */
#searchBar {
}
/* id per searchbar bootstrap */
#floatingInputGroup1 , #inputGroupText {
    border-radius: 0!important;
}

#chatContainer {
    height: calc( var(--appHeight) - var(--headerHeight) - var(--silentHeight) - 58px );
}
.contact {
    height: 5rem;
    background-color: #ffffff;
    border: 0.5px solid #f7f7f7;
}
.data {
    font-size: 0.5rem;
    text-align: right;
}
.contactImg {
    height: 80%;
    aspect-ratio: 1;
    margin: auto 1rem;
}
.selected {
    background-color: #e9ebeb;
}


/****************************** main section ***********************/
#main {
    height: 100%;
    padding: 0!important;
    background-image: url(../img/mine.jpg);

}
#chatBox {
    padding: 4rem 4rem;
}
.mexRecived {
    background-color: #ffffff;

}
.mexSent {
    background-color: #d5f9ba;
    align-self: end;
}
.mex {
    width: 16rem;
}
#btnDrop {
    padding: 0!important;
    height: 1rem;
    display: flex;
    align-items: center;
    border: 0;
}

/************ input *****************/
.iconBox {
    width: 20%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconBox > a {    color: #6b7376;}
#inputBox {
    background-color: #f3eeea;
}
