<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
        integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.min.js" integrity="sha512-dUlSLLkxslGILhPdCkALwk4szPhp3xmZIKFtlUD+O9Lslq41Aksmdt5OGqpomDoT4FsCUH70jQU8ezZHI3v1RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="app">

        <div class="container finestra">
            <!-- header app -->
            <div id="headRow" class="row">
                <div class="col-4"></div>
                <div class="col-8"></div>

            </div>
            <!-- sezione principale app -->
            <div id="mainRow" class="row">
                <!-- sezione laterale contatti -->
                <div id="side" class="col-4 overflow-auto">
                    <div @click="switchContact(i)" class="contact" v-for="(element, i) in contacts">
                        <p>{{contacts[i].name}}</p>
                        <p>ultimo messaggio inviato</p>
                        <p>{{contacts[i].messages[1].date}}</p>


                    </div>
                </div>

                <!-- main section -->
                <div id="main" class="col-8 d-flex flex-column gap-3">
                    <div class="mex rounded d-flex align-items-center px-2" :class="(contacts[posizioneOggetto].messages[i].status=='sent') ? 'mexSent' : 'mexRecived'" v-for="(element, i) in contacts[posizioneOggetto].messages">
                        <p>{{contacts[posizioneOggetto].messages[i].message}}</p>
                        <div>{{contacts[posizioneOggetto].messages[i].date}}</div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="js/main.js"></script>
</body>

</html>