<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
        integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.min.js"
        integrity="sha512-dUlSLLkxslGILhPdCkALwk4szPhp3xmZIKFtlUD+O9Lslq41Aksmdt5OGqpomDoT4FsCUH70jQU8ezZHI3v1RQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="app">

        <div class="container finestra">

            <!-- header app -->
            <div id="headRow" class="row">
                <div class="col-4 d-flex align-items-center">

                    <!-- prifile pic + name -->
                    <img src="img/avatar_io.jpg" alt="" class="rounded-circle contactImg">
                    <div class="fw-semibold">Sofia</div>
                </div>

                <!-- header selected chat -->
                <div class="col-8">
                    <div class="selectedContact d-flex align-items-center">
                        <img :src=contacts[posizioneOggetto].avatar alt="" class="rounded-circle contactImg">
                        <div>
                            <p>{{contacts[posizioneOggetto].name}}</p>
                            <p class="fw-light">{{lastMex[posizioneOggetto]}}</p>
                        </div>
                        <p class="data p-2">{{lastData[posizioneOggetto]}}</p>
                    </div>
                </div>

            </div>

            <!---------------------------------- sezione principale app ------------------------------------->
            <div id="mainRow" class="row">

                <!----------------- sezione laterale contatti ------------->
                <div id="side" class="col-4">

                    <!-- disable notification -->
                    <div id="silentNotif" class="d-flex">
                        <div id="silentIcon" class="rounded-circle align-items-center justify-content-center d-flex">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="ms-3">
                            <p class="fw-bold">Ricevi notifiche di nuovi messaggi</p>
                            <a href="" class="fw-light text-black">attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- searchbar -->
                    <div id="searchBar" class="input-group">
                        <span id="inputGroupText" class="input-group-text"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGroup1"
                                placeholder="Cerca o inizia una nuova chat" @input="searchChat()">
                            <label for="floatingInputGroup1">Cerca o inizia una nuova chat</label>
                        </div>
                    </div>

                    <!-- SIDE chat container -->
                    <div id="chatContainer" class="overflow-auto">

                        <div @click="switchContact(i)" v-for="(element, i) in contacts">
                            <div v-if="contacts[i].visible" class="contact d-flex"
                                :class="(posizioneOggetto==i) ? 'selected' : ''">
                                <img :src=contacts[i].avatar alt="" class="rounded-circle contactImg">
                                <div>
                                    <p class="fw-bold">{{contacts[i].name}}</p>
                                    <p class="fw-light">{{lastMex[i]}}</p>
                                </div>
                                <p class="data p-2">{{lastData[i]}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- main section -->
                <div id="main" class="col-8 d-flex flex-column justify-content-between">
                    <div id="chatBox" class="d-flex flex-column gap-3 overflow-auto">
                        <div class="mex rounded d-flex align-items-center justify-content-between px-2 py-2"
                            :class="(contacts[posizioneOggetto].messages[i].status=='sent') ? 'mexSent' : 'mexRecived'"
                            v-for="(element, i) in contacts[posizioneOggetto].messages">
                            <p>{{contacts[posizioneOggetto].messages[i].message}}</p>
                            <div class="data">{{contacts[posizioneOggetto].messages[i].date}}</div>

                            <!-- DROPDOWN -->
                            <div class="dropdown">
                                <button class="btn" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-chevron-down fa-2xs"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#" @click="deleteMessage(i, posizioneOggetto)">Delete message</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- input chat -->
                    <div id="inputBox" class="d-flex p-2">
                        <div class="iconBox"><i class="fa-xl fa-regular fa-face-smile"></i></div>

                        <div class="form-floating w-100">
                            <input @keyup.enter="newMessage(posizioneOggetto), getLastMexAndData() " type="text" class="form-control"
                                id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Scrivi un messaggio</label>
                        </div>

                        <div class="iconBox"><i class="fa-xl fa-solid fa-microphone"></i></div>
                    </div>

                </div>



            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>